.Messages {
  position: absolute;
}
.Messages .--Message {
  position: relative;
  top: 2em;
  margin: 0;
  padding: 0.3em;
  background-color: var(--beige);
  color: var(--dark-grey);
  border-radius: 0.2em;
}

.Messages p {
  margin: 0.5em 0;
  line-height: 1.3em;
}

.Messages p:first-child {
  margin-top: 0;
}
.Messages p:last-child {
  margin-bottom: 0;
}
