.NumberPicker {
  user-select: none;

  font-size: 1.2em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  color: var(--candidate-text-color);
  border-radius: 0.1em;
}
.NumberPicker[data-current-color="a"] {
  background-color: var(--candidate-background-color-a);
}
.NumberPicker[data-current-color="b"] {
  background-color: var(--candidate-background-color-b);
}
.NumberPicker[data-current-color="c"] {
  background-color: var(--candidate-background-color-c);
}
.NumberPicker .--Values {
  grid-row: 1;
  grid-column: 1;
  display: contents;
}
.NumberPicker .--Values li {
  grid-row: 1;
  text-align: center;
  grid-column: var(--value) / var(--value);
}
.NumberPicker .--Selection {
  grid-row: 1;
  grid-column: 1 / -1;
}
.NumberPicker .--Selection:before {
  --cell-width: 100% / 9;
  content: "";
  display: block;
  width: calc(var(--cell-width));
  margin-left: calc(var(--cell-width) * (var(--selected) - 1));
  transition: margin 700ms;
  height: 100%;
  background-color: var(--grey);
  border-radius: 0.1em;
}
