.SudokuGrid {
  --border-color: var(--purple);
  --background-color: var(--dark-grey);
  --contents-color: var(--green);
  --candidate-color: var(--yellow);
  --highlight-color: var(--blue);
  --error-color: var(--red);
  --highlight-error-color: var(--red-intense);
  --locked-color: var(--purple);
  --highlight-locked-color: var(--blue-dull);
  --zebra-vertical: var(--dark-grey-intense);
  user-select: none;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border: 3px solid var(--border-color);
}

.SudokuGrid .--Cell {
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-color);
}

.SudokuGrid .--Cell > div {
  flex: 1;
}

.SudokuGrid .--Cell.-ShowingCandidates .--Contents {
  display: none;
}

.SudokuGrid .--Contents {
  font-size: 0.9em;
  color: var(--contents-color);
}

.SudokuGrid .--Candidates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  font-size: calc(1em / 3);
  line-height: 0.9;
}

.SudokuGrid .--Candidate {
  width: calc(100% / 3);
  height: calc(100% / 3);
  flex-basis: calc(100% / 3);
  color: var(--candidate-color);
}

.SudokuGrid .-Highlight .--Contents {
  color: var(--highlight-color);
}

.SudokuGrid  .--Candidate.-Highlight {
  color: var(--highlight-color);
}

.SudokuGrid .--Cell.-ShowingContents .--Candidates {
  display: none;
}

.SudokuGrid .-Invalid .--Contents, .SudokuGrid .--Candidate.-Invalid {
  color: var(--error-color);
}

.SudokuGrid .-Invalid.-Highlight .--Contents, .SudokuGrid .--Candidate.-Invalid.-Highlight {
  color: var(--highlight-error-color);
}

.SudokuGrid .-Locked .--Contents {
  color: var(--locked-color);
}

.SudokuGrid .-Locked.-Highlight .--Contents {
  color: var(--highlight-locked-color);
}

.SudokuGrid .--Cell {
  display: flex;
  align-items: center;

  text-align: center;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.SudokuGrid .--Cell::before {
  content: "";
  padding-bottom: 100%;
  width: 0px;
}

/* Borders */
.SudokuGrid .--Cell:nth-child(3n) {
  border-right: 2px solid var(--border-color);
}

.SudokuGrid .--Cell:nth-child(9n) {
  border-right: none;
}

.SudokuGrid .--Cell:nth-child(n + 19):nth-child(-n + 27) {
  border-bottom: 2px solid var(--border-color);
}

.SudokuGrid .--Cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 2px solid var(--border-color);
}

.SudokuGrid .--Cell:nth-child(n + 73) {
  border-bottom: none;
}

/* Zebra Stripes */
.SudokuGrid .--Cell:nth-child(3n + 2) {
  background-color: var(--zebra-vertical);
}
