/* App container */
body {
  background-color: rgb(44, 41, 45);
}

#root {
  --font-size-divisor: 9.5;
  font-family: monospace;
  font-size: min(calc(80vh / var(--font-size-divisor)), calc(100vw / var(--font-size-divisor)));
  min-height: 100vh;
  max-width: 70vh;
  margin: 0 auto;
}

.SudokuApp {
  --transparent: rgba(0, 0, 0, 0);
  --beige: rgb(252, 249, 244);
  --orange: rgb(238, 157, 112);
  --purple: rgb(168, 157, 234);
  --dark-purple: rgb(95, 88, 134);
  --yellow: rgb(249, 218, 120);
  --grey: rgb(114, 112, 114);
  --dark-grey: rgb(44, 41, 45);
  --dark-grey-intense: rgb(37, 35, 38);
  --light-grey: rgb(232, 229, 225);
  --green: rgb(179, 219, 130);
  --red: rgb(237, 108, 137);
  --blue: rgb(145, 218, 230);
  --pink: rgb(200,75,174);
  --brown: rgb(136, 110, 67);
  --teal: rgb(46, 97, 113);
  --candidate-text-color: var(--yellow);
  --candidate-background-color-a: var(--transparent);
  --candidate-background-color-b: var(--brown);
  --candidate-background-color-c: var(--teal);
  touch-action: manipulation;

  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.SudokuApp > * {
  margin: 0.2em 0;
}

.SudokuApp .Messages {
  font-size: 0.40em;
  margin: 0;
}

.ButtonBar {
  text-align: center;
}
